/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
  --clr0: #0011ff;
  --clr1: #00AFFF;
  --clr2: #fd1d1d;
  --clr3: #fcb045;
  --bgc: #0e0e2a;
  --color-primary: #1899f0;
  --color-secondary: #00ccff;
  --color-bg-start: #303030;
  --color-bg-end: #1F1F1F;
  --color-nav-bg: rgba(31, 31, 31, 0.8);
 }